:root{
    --RedBackground: url('../img/TerrariaHell.avif') center/cover no-repeat;
    --RedOutline: rgba(255, 74, 50, 0.137);
    --text_light_color: rgba(255, 225, 221, 0.8);
    --RedBorder: #f84a2b;
    --RedHeader: #18161C;
}