@media (max-width: 1535px) {
    .midl {grid-template-columns: 1fr 1fr; }
    .experience {grid-column: 1; grid-row: 1;}
    .languages {grid-column: 2; grid-row: 1;}
    .summary {grid-column: 1 / 3; grid-row: 2;}
    .Hobbies {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: auto auto;
    }
    .Hobbies section:last-child {grid-column: 1 / -1;}
}

@media (max-width: 1200px) {
    main h2 { font-size: 19px; }
    .projects-body {flex-direction: column;}
    .midl {grid-template-columns: 1fr;}
    .experience, .languages, .summary {grid-column: 1; grid-row: auto; }
    .summary {grid-row: 2; }
}

@media (max-width: 992px) { 
    .resume {
        width: calc(min(1690px, 100%) - 4vw);
        margin: 2vw auto 0;
        flex-direction: column;
    }

    header {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: auto auto auto; 
        gap: 20px;
        padding: 30px;
        grid-template-areas: 
            "name name name name name name kont kont kont kont"
            "name name name name name name media media media media"
            "link link link link lang lang lang lang lang lang";
    }
    .links {
            grid-area: link;
            margin: 0;
            position: unset;
            bottom: unset;
    }
    .name_info {grid-area: name;}
    header section:nth-of-type(2) { grid-area: kont;}
    header section:nth-of-type(3) { grid-area: media;}
    .info_stiky {display: contents;}
    .selectWrapper { grid-area: lang; height: 100%;}
    .options {bottom:  -30vw;}
    .custom-select:hover {height: calc(100% + 30vw); }
    .options li {height: 10vw;}
    .social_media, .contact_information {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .contact_information{
        font-size: 2vw;
    }

    .skills, .summary {
        text-align: left;
    }

    .summary p{
        font-size: 3vw;
    }

    header section li a::before, .skills_list li::before{
        top: 0vw;
        width: 4vw;
        height: 4vw;
    }

    article li {
        padding-left: 7vw;
        line-height: 7vw;
    }
        
    article li::before {
        top: 0.5vw;
        width: 6vw;
        height: 6vw;
    }

    .skills_list li::before{
        top: 0.4vw;
    }

    header section li, .skills_list li{
        padding-left: 5vw; 
        line-height: 4vw;
    }

    .skills_list li{
        line-height: 5vw;
    }

    header h2, main h2 {
        padding: 3vw 4vw;
    }

    h1 {
        padding-top: 2vw;
        line-height: 5vw;
    }
    
    header p {
        line-height:3vw;
        padding: 2vw;
    }

    main h2{
        font-size: var(--title_font);
    }
    
    footer {
        margin: 2vw;
        width: calc(min(1690px, 100%) - 4vw);
    }
    
    footer p {
        padding: 2vw;
    }

    body {    
        --title_Main_font: 6vw;
        --title_Second_font: 4vw;
        --small_font: 2.5vw;
        --title_font: 4.5vw;
        --label_font: 1.5vw;
        --midl_font: 3.8vw;
        --title_font: 4vw;
    }

    .experience p {
        margin-top: 2vw;
    }
    
    .experience h3 {
        margin-bottom: 2.5vw;
    }

    header {
        width: 100%;
        gap: 2vw;
        padding: 3vw;   
    }

    .name_info, header section, .education, .skills, .projects, .experience, .languages,
    .custom-select, .avatar, .links, footer p, .summary,  .resume,  header, .tr,
    .resume::before, header::before {border-radius: 8vw;}

    .trr, .edu-info, .skills_list, .summary_text, .projects-body, .social_media, .contact_information{
        padding: 2vw 4vw;
        border-radius: 0px 0px 8vw 8vw;
    }

    .project-card, .project-card img{border-radius: 6.5vw;}
    .projects-body, .project-info{
        padding: 2vw;
    }
    .project-info{
        gap: 1vw;
    }
    article{
        padding: 2vw 4vw;
    }

    .links {
        padding: 1vw;
        gap: 1vw;
    }

    .midl, .projects-body,  .Hobbies {
        gap: 3vw;
    }
   
    main {
        gap: 3vw;
        padding: 3vw;
    }

    .project-stack {
        gap: 2vw;
        padding-top: 2vw;
    }
    .stack-tag, .year, .project-badge {
        padding: 0.7vw 2vw;
        border-radius: 1.5vw;
    }
    .edu-info {
        gap: 3vw;
    }
    .edu-item {
        padding: 0px 2vw;
        gap: 1vw;
        border-left: 0.4vw solid #C4F129;
    }
    .edu-item::before {
        left: -1.1vw;
        top: 0.4vw;
        width: 2vw;
        height: 2vw;
    }

    .student_id span{ 
        font-size: 25vw;
        margin-top: -8vw;
        margin-bottom: -6.5vw;
    }
}